# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# VS Code
.vscode/

# AML local outputs
outputs/
.azureml/

# OS
.DS_Store
Thumbs.db
